.background {
  background: url("../../assets/background.jpg");
  background-color: #333;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.card {
  color:#303f47;
  width: 600px;
  height: 400px;
  margin: 100px;
  padding: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 16px 32px 0 rgb(0 0 0);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card input {
  background: #00000021;
  display: block;
  margin: 10px;
  border: none;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(249, 249, 249);
}

.card input::-webkit-input-placeholder {
  color: black; /*Change the placeholder color*/
  opacity: 0.5; /*Change the opacity between 0 and 1*/
}

.logo {
  height: 50px;
  width: 200px;
  position: absolute;
  left: 80px;
  top: 20px;
  background: url("../../assets/logo.png");
  background-size: cover;
}

.card h1 {
  margin: 0;
}

.card form {
  margin-top: 30px;
}

.card input[type="submit"] {
  background: #4c4c4c42; /* fallback for old browsers */
  color:#72777d;
  border-radius: 5px;
}

