.background {
    
    background-color: #000;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
  }

.background::before{
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .3; 
    content: "";
    background: url("../../assets/background.jpg");
    background-size: cover;

}

  .logo {
    height: 50px;
    width: 200px;
    position: absolute;
    left: 80px;
    top: 20px;
    background: url("../../assets/logo.png");
    background-size: cover;
  }
  
  .video_card
  {
      padding: auto;

  }

  .video_card video
  {
      margin: 100px;
      height: 454px;
      position: relative;
  }